<!--The content below is only a placeholder and can be replaced.-->
<!-- <button mat-button>Basic</button> -->

<mat-toolbar>
  <mat-toolbar-row>
    <span>My App</span>
    <span class="example-spacer"></span>
    <!-- <i class="material-icons">menu</i>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->
    <!-- <mat-icon class="example-icon">menu</mat-icon> -->

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
